html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font: 1.6rem / 1.5 system-ui;
  margin: 0;
}

.layout {
  display: grid;
  grid-template-rows: auto 1fr 5rem;
  min-height: 100vh;
  padding: 0 2rem;
}

h1 {
  font-size: 2.4rem;
  line-height: 1.4;
}

nav ul {
  margin: 0;
  padding-left: 2rem;
}

@keyframes perfTest {
  0% {
    width: 100%;
  }
  50% {
    width: 75%;
  }
  100% {
    width: 100%;
  }
}

.animation .keyboard {
  animation: perfTest ease-in-out 750ms infinite;
}

.keyboard {
  --defaultItemSize: 4;
  --unit: 19.05;
  --baseSize: 18;
  --baseRadius: 1.5;
  --dishSize: 12;
  --dishRadius: 2;
  --baseOffsetPercentage: /* (unit - baseSize) / unit / 2 */ 2.755905512%; /* can't use calc here */
  --baseRadiusPercentage: /* baseRadius / baseSize */ 8.333333333%; /* can't use calc here */
  --dishOffsetPercentage: /* (unit - dishSize) / unit / 2 */ 18.50393701%; /* can't use calc here */
  --dishRadiusPercentage: /* dishRadius / dishSize */ 16.66666667%; /* can't use calc here */
  background: rgba(128, 128, 128, 0.1);
  border: 1rem solid rgba(128, 128, 128, 0.25);
  display: grid;
  margin: 0 auto;
}
.keyboard-boardwalk {
  grid-template-columns: repeat(calc(15 * var(--defaultItemSize)), 1fr);
  grid-template-rows: repeat(5 * var(--defaultItemSize), 1fr);
  padding: /* (unit - baseSize) / (unit - baseSize + 15 * unit) / 2 */ 0.1830543933%; /* can't use calc here */
}

.keycap {
  color: #fff;
  grid-column-end: span var(--defaultItemSize);
  grid-row-end: span var(--defaultItemSize);
  padding-bottom: 100%;
  position: relative;
}

.x-0 {
  grid-column-start: 1;
}
.x-1\.5 {
  grid-column-start: /* 1.5 * defaultItemSize + 1 */ 7; /* can't use calc here */
}
.x-2\.5 {
  grid-column-start: /* 2.5 * defaultItemSize + 1 */ 11; /* can't use calc here */
}
.x-3\.5 {
  grid-column-start: /* 3.5 * defaultItemSize + 1 */ 15; /* can't use calc here */
}
.x-4\.5 {
  grid-column-start: /* 4.5 * defaultItemSize + 1 */ 19; /* can't use calc here */
}
.x-5\.5 {
  grid-column-start: /* 5.5 * defaultItemSize + 1 */ 23; /* can't use calc here */
}
.x-6\.5 {
  grid-column-start: /* 6.5 * defaultItemSize + 1 */ 27; /* can't use calc here */
}
.x-7\.5 {
  grid-column-start: /* 7.5 * defaultItemSize + 1 */ 31; /* can't use calc here */
}
.x-8\.5 {
  grid-column-start: /* 8.5 * defaultItemSize + 1 */ 35; /* can't use calc here */
}
.x-9\.5 {
  grid-column-start: /* 9.5 * defaultItemSize + 1 */ 39; /* can't use calc here */
}
.x-10\.5 {
  grid-column-start: /* 10.5 * defaultItemSize + 1 */ 43; /* can't use calc here */
}
.x-11\.5 {
  grid-column-start: /* 11.5 * defaultItemSize + 1 */ 47; /* can't use calc here */
}
.x-12\.5 {
  grid-column-start: /* 12.5 * defaultItemSize + 1 */ 51; /* can't use calc here */
}
.x-13\.5 {
  grid-column-start: /* 13.5 * defaultItemSize + 1 */ 55; /* can't use calc here */
}
.y-0 {
  grid-row-start: 1; /* can't use calc here */
}
.y-1 {
  grid-row-start: /* 1 * defaultItemSize + 1 */ 5; /* can't use calc here */
}
.y-2 {
  grid-row-start: /* 2 * defaultItemSize + 1 */ 9; /* can't use calc here */
}
.y-2\.5 {
  grid-row-start: /* 2.5 * defaultItemSize + 1 */ 11; /* can't use calc here */
}
.y-3 {
  grid-row-start: /* 3 * defaultItemSize + 1 */ 13; /* can't use calc here */
}
.y-3\.5 {
  grid-row-start: /* 3.5 * defaultItemSize + 1 */ 15; /* can't use calc here */
}
.y-4 {
  grid-row-start: /* 4 * defaultItemSize + 1 */ 17; /* can't use calc here */
}

.width-1\.5 {
  grid-column-end: /* 1.5 * defaultItemSize */ span 6; /* can't use calc here */
  padding-bottom: 0;
}
.width-2 {
  grid-column-end: /* 2 * defaultItemSize */ span 8; /* can't use calc here */
  padding-bottom: 0;
}
.height-1\.5 {
  grid-row-end: /* 1.5 * defaultItemSize */ span 6; /* can't use calc here */
  padding-bottom: 0;
}

.color-black {
  color: #252a37;
}
.color-pink {
  color: #d00070;
}
.color-purple {
  color: #685bc7;
}

.keycap > span,
.keycap::after {
  background: currentColor;
  border-radius: var(--horizontalRadius) / var(--verticalRadius);
  bottom: var(--verticalOffset);
  left: var(--horizontalOffset);
  position: absolute;
  right: var(--horizontalOffset);
  top: var(--verticalOffset);
}
.keycap > span {
  --horizontalOffset: var(--baseOffsetPercentage);
  --verticalOffset: var(--baseOffsetPercentage);
  --horizontalRadius: var(--baseRadiusPercentage);
  --verticalRadius: var(--baseRadiusPercentage);
}
.width-1\.5 > span {
  --horizontalOffset: /* (unit - baseSize) / (1.5 * unit) / 2 */ 1.837270341%; /* can't use calc here */
  --horizontalRadius: /* baseRadius / ((1.5 - 1) * unit + baseSize) */ 5.449591281%; /* can't use calc here */
}
.width-2 > span {
  --horizontalOffset: /* (unit - baseSize) / (2 * unit) / 2 */ 1.377952756%; /* can't use calc here */
  --horizontalRadius: /* baseRadius / ((2 - 1) * unit + baseSize) */ 4.048582996%; /* can't use calc here */
}
.height-1\.5 > span {
  --verticalOffset: /* (unit - baseSize) / (1.5 * unit) / 2 */ 1.837270341%; /* can't use calc here */
  --verticalRadius: /* baseRadius / ((1.5 - 1) * unit + baseSize) */ 5.449591281%; /* can't use calc here */
}

.keycap > span::before {
  background: rgba(0, 0, 0, 0.15);
  border-radius: inherit;
  bottom: 0;
  content: '';
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.keycap::after {
  --horizontalOffset: var(--dishOffsetPercentage);
  --verticalOffset: var(--dishOffsetPercentage);
  --horizontalRadius: var(--dishRadiusPercentage);
  --verticalRadius: var(--dishRadiusPercentage);
  content: '';
}
.width-1\.5::after {
  --horizontalOffset: /* (unit - dishSize) / (1.5 * unit) / 2 */ 12.33595801%; /* can't use calc here */
  --horizontalRadius: /* dishRadius / ((1.5 - 1) * unit + dishSize) */ 9.291521487%; /* can't use calc here */
}
.width-2::after {
  --horizontalOffset: /* (unit - dishSize) / (2 * unit) / 2 */ 9.251968504%; /* can't use calc here */
  --horizontalRadius: /* dishRadius / ((2 - 1) * unit + dishSize) */ 6.441223833%; /* can't use calc here */
}
.height-1\.5::after {
  --verticalOffset: /* (unit - dishSize) / (1.5 * unit) / 2 */ 12.33595801%; /* can't use calc here */
  --verticalRadius: /* dishRadius / ((1.5 - 1) * unit + dishSize) */ 9.291521487%; /* can't use calc here */
}

footer p {
  line-height: 5rem;
  margin: 0;
  text-align: center;
}
